.container{
    display:flex;
    justify-content: center;
}
.post{
    background-color: #3c3c3c;
    width: 100%;
    border: 3px solid #5c5c5c;
    border-radius: 2px;
    display:flex;
    flex-flow: column;
    margin: 0.4em;
}
.top-bar{
    display: flex;
    flex-flow: row;
    justify-content: stretch;
    background-color: #bfbfbf;
}
.title{
    margin-left: 1vw;
    width: 100%;
    margin-top: 0;
    box-sizing: border-box;
}
.title h2{
    margin:0;
    font-size: 1.5;
}
.post-body{
    display:flex;
    flex-flow: row;
    justify-content: center;
}
.post-body img{
    max-width: 600px;
    max-height: 600px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.op{
    margin-right: 1vw;
}